= form_for @bookmark do |f|
  - if @bookmark.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bookmark.errors.count, "error")} prohibited this bookmark from being saved:"
      %ul
        - @bookmark.errors.full_messages.each do |msg|
          %li= msg

  %p
    = f.label :url
  %p
    = f.text_field :url, class: "form-control"
  %p
    = f.label :title
  %p
    = f.text_field :title, class: "form-control"
  %p
    = f.submit 'Save', class: "btn btn-primary"
