= form_for @bookmark do |f|
  - if @bookmark.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bookmark.errors.count, "error")} prohibited this bookmark from being saved:"
      %ul
        - @bookmark.errors.full_messages.each do |msg|
          %li= msg

  %p.flash.bg-danger.text-danger{"v-if": "error" } {{error}}

  %p
    = f.label :url
  %p
    = f.text_field :url, class: "form-control", "v-model": "url", "v-on:change": "urlChanged"
  %p
    = f.label :title
  %p
    = f.text_field :title, class: "form-control", "v-model": "title"

  .well
    .row
      .col-md-3
        %p(v-if="image")
          %img{"v-bind:src" => "image", :width => "100%"}
        =f.hidden_field :image, "v-model": "image"

      .col-md-9
        %p(v-if="paragraph")
          {{paragraph}}
        =f.hidden_field :paragraph, "v-model": "paragraph"
  %p
    = f.submit 'Save', class: "btn btn-primary"
