%table.table.table-hover
  %thead
    %tr
      %th Url
      %th Image
      %th Title
      %th Slug
      %th Visit count
      %th

  %tbody
    - @bookmarks.each do |bookmark|
      %tr
        %td= link_to "http://" + bookmark.url, "http://" + bookmark.url
        %td= image_tag bookmark.image, width: "100" if bookmark.image
        %td
          %p
            %strong
              = bookmark.title
          %p.text-muted
            =bookmark.paragraph
        %td
          %p.input-group
            =text_field_tag "", visit_url(bookmark.slug), id: "bookmark-#{bookmark.id}", class: "form-control"
            %span.input-group-btn
              =button_tag class: "btn btn-default btn-clipboard", data: { "clipboard-target": "#bookmark-#{bookmark.id}" } do
                %i.fa.fa-clipboard
        %td= bookmark.visit_count
        %td
          = link_to 'Edit', edit_bookmark_path(bookmark)
          = link_to 'Destroy', bookmark, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Bookmark', new_bookmark_path
